<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEATHER APP</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
    <a href="/about" target="_blank"></a>
</head>
<body>
    {{>navbar}}
    <section  class="item" id="section"
    ><h4>Welcome to weather app</h4>
    <h1>I am a <i>WEB</i> developer </h1>
    <button><a href="/about" target="_blank">about me</a></button>
</section>
</body>
</html>