<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>Document</title> --}}
    <title>WEATHER APP</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/weather.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
     <header class="item">
        <a href="" class="it" id="forecast"> <i class="fa-solid fa-snowflake" id="sticker1"></i> WEATHER FORECAST <i class="fa-solid fa-snowflake" id="sticker2"></i></a>
        <a href="/about" class="it" id="about">ABOUT</a>
        <a href="/weather" class="it" id="weather">WEATHER</a>
        <a href="/home" class="it" id="home">HOME</a>
       </header>
</body>
</html>